* {
  text-align: center;
  font-family: Helvetica;
}

header {
  background-image: url("../images/the-flatiron-building.jpg");
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

h3 {
  font-size: 23px;
  font-weight: 700;
}

a {
  font-size: 18px;
  color: white;
}

p {
  font-size: 14px;
}

.sub-title {
  background-image:url("../images/the-flatiron-building.jpg");
  font-size: 23px;
  font-weight: 700;
  color: white;
}
