* {
  text-align: center;
  font-family: Helvetica;
}

header {
  background-image: url("../images/the-flatiron-building.jpg");
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}
