

body {
  font-family: Helvetica;
  text-align: center;
}

header {
  background-image: url("../images/the-flatiron-building.jpg");
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 23px;
  font-weight: 700;
}

a {
  font-size: 18px;
  color: white;
}

p {
  font-size: 14px;
}

.sub-title {
  background-image:url("../images/the-flatiron-building.jpg");
  font-size: 23px;
  font-weight: 700;
  color: white;
}

.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}
